<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>USER DATA</h1>
    <form method="GET">
        
        <label>Name</label><br>
        <input type="text" name="name_html"><br>
        
        <label>Email</label><br>
        <input type="text" name="email_html"><br>

        <label>Mobile Number</label><br>
        <input type="text" name="mobile_html"><br>

        <button type="submit">Submit</button>

    </form>

    {% if name %}
        <h2>Welcome, {{ name }}!</h2>
        <p>Your email is: {{ email }}</p>
        <p>Your mobile number: {{ mobile }}</p>
    {% endif %}

</body>
</html>