<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TokenApp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="auth-page">

    <div class="card">
        <div class="logo">
            <h1>🪙 TokenApp</h1>
            <p>Create, manage and transfer tokens on the blockchain</p>
        </div>
        <div class="index-buttons">
            <a href="{{ url_for('login') }}" class="btn-index btn-login">Login</a>
            <a href="{{ url_for('register') }}" class="btn-index btn-register">Register</a>
        </div>
    </div>

</body>
</html>