<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>

    <h1>Dashboard</h1>
    
    <a href="/">Home</a>  |  
    <a href="/">Create Wallet</a>  |  
    <a href="/transfer">Transfer Token</a>
    <hr>

    <p>Welcome, {{ user.username }}!</p>
    <p>Wallet Address: {{ user.wallet_address }}</p>
    <p>Balance: {{ balance }}</p>
    <hr>
    <h2>Transaction History:</h2>
    <ul>
        {% for tx in transactions %}
            <li>
                {{ tx.sender.username }} → {{ tx.recipient.username }} : {{ tx.amount }}
            </li>
        {% endfor %}
    </ul>
</body>
</html>